{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    Author: {{ post.author }}
    <br>
        Create: {{ post.create_date }}
    <br>
        Published: {{ post.publish_date }}
    <br>
        Last update: {{ post.update_date }}
    <br>
        <br>
            <div class="container">
                <h3>{{ post.title }}</h3>
            </div>
            <div class="container">
                <h4>{{ post.item }}</h4>
            </div>
        <br>
    {% if post.image %}
    <img class="card-img-top" crossorigin="anonymous" src="{{ post.image.url }}" alt="Lights" width="800">
    <img class="card-img-top" crossorigin="use-credentials" src="{{ post.image.url }}" alt="Lights" width="800">
    <img class="card-img-top"  src="{{ post.image.url }}" alt="Lights" width="800">
    <img src="{{ post.image.url }}" height="200" width="400">
    {{ post.image.url }}
    <img src="{{ post.image.url }}" crossorigin=anonymous height="200" width="400">

    {% endif %}
</div>
{% endblock %}